body{
    width: 100%;
    background-color: rgb(102, 194, 255);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.content{
    padding-top: 2%;
    margin: auto;
    width: 50% !important;
    height: auto !important;
}

#portrait img{
    display: block;
    height: 28%;
    margin: auto;
    border-radius: 50%;
    border: 3px black solid;
    box-shadow: 5px 1px 2px rgb(51, 133, 255);
}

#title{
    text-shadow: 2px 1px 1px rgb(51, 133, 255);
}

.titulo{
    width: 100%;
}

.titulo:hover{
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    cursor: pointer;
}

.center{
    display: block;
    width: 100%;
    text-align: center;
}

ul{
    list-style: none;
    display: table;
    width: 100%;
    text-align: center;
}

.specs{
    width: auto;
}

.list{
    display: inline;
    max-width: 50%;
    margin: auto;
}

.list-item li{
    left: 0;
    text-indent: -4.5em;
    width: 100%;
    display: table-cell block;
    text-align: center;
    font-size: 17px;
    padding: 0.5% 0 0 0;
}

#heart{
    color: red;
    text-shadow: 1px 1px 1px rgb(255, 77, 77);
}

.contact{
    width: 100%;
}

.networks img{
    display: inline;
    width: 9%;
    max-width: 50%;
    margin: auto;
    padding: 0 4% 4% 3%;
}

.networks-item:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.itens{
    display: none;
}

#labra{
    color: black;   
}